# Backend & API
fastapi
uvicorn[standard]
python-multipart

# Frontend
streamlit

# AI & LangChain Core
langchain
langchain-core
langchain-community
langchain-google-genai

# Vector Database
qdrant-client
langchain-qdrant

# Document Parsing & Processing
PyMuPDF
python-docx
python-pptx
pandas
openpyxl

pillow==10.3.0